<div class="row collection-details">
  <div class="large-12 column">
    <h2>{{collection.name}}</h2>
    <div class="add-container main-poster" ng-controller="AddController">
      <img ng-src="{{collection.poster_path | posterImage}}"
      ng-show="collection.poster_path"><br>
      <img src="/img/add-long.png" class="long-add-button"
        ng-click="add('collection', collection, $event)"
        ng-show="canAdd('collection', collection)">
        <div style="text-align: center;"
          ng-show="inList('collection', collection)">This is in your Kue</div>
    </div>
    <div>
      <p>{{collection.overview}}</p>
    </div>
  </div>

  <div class="large-12 column">
    <h2>Movies</h2>
  </div>

  <div class="large-12 column">
    <ul class="large-block-grid-6 movie-list">
      <li ng-repeat="movie in collection.parts | orderBy:'release_date'">
        <a ng-href="/movie/{{movie.id}}-{{movie.title | slugify}}">
          <img class="poster" ng-src="{{movie.poster_path | posterImage}}">
        </a>
        <!-- <h3><a href="/profile/{{member.id}}">{{member.name}}</a></h3> -->
        <!-- <h4 class='subheader'>{{member.character}}</h4> -->
      </li>
    </ul>
  </div>
</div>
