<div class="row">
  <div class="large-12 columns" ng-show="noResults()">
    <h2>No Results</h2>
    <p>Sorry, we couldn't find anything for that query.</p>
  </div>

  <div class="large-12 columns" ng-show="collectionSearch.results.length">
    <h2>Collections</h2>
  </div>
  <div class="large-12 columns">
    <ul class="large-block-grid-6">
      <li ng-repeat="collection in collectionSearch.results">
        <a ng-href="/collection/{{collection.id}}-{{collection.name | slugify}}">
          <img ng-src="{{collection.poster_path | posterImage}}" class="poster">
        </a>
      </li>
    </ul>
  </div>

  <div class="large-12 columns" ng-show="movieSearch.results.length">
    <h2>Movies</h2>
  </div>
  <div class="large-12 columns">
    <ul class="large-block-grid-6">
      <li ng-repeat="movie in movieSearch.results">
        <a ng-href="/movie/{{movie.id}}-{{movie.title | slugify}}">
          <img ng-src="{{movie.poster_path | posterImage}}" class="poster">
        </a>
      </li>
    </ul>
  </div>

  <div class="large-12 columns" ng-show="personSearch.results.length">
    <h2>People</h2>
  </div>
  <div class="large-12 columns">
    <ul class="large-block-grid-6">
      <li ng-repeat="person in personSearch.results">
        <a ng-href="/profile/{{person.id}}-{{person.name | slugify}}">
          <img ng-src="{{person.profile_path | profileImage}}" class="poster">
        </a>
      </li>
    </ul>
  </div>
</div>
