$header-text-rendering: auto;
$paragraph-text-rendering: auto;

@import 'normalize.scss';
@import 'foundation.scss';

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

html {
  height: 100%;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

body {
  background: transparent;
  min-height: 100%;
}

* {
  z-index: 2;
}

.row {
  background-color: rgba(255, 255, 255, 0.85);
}

.logo-container {
  padding-left: 0;
}

img.poster {
  width: 154px;
}

img.profile {
  width: 150px;
}

.header-search {
  height: 100px;
  position: relative;

  > div {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  form {
    margin: 0;
  }

  input {
    margin-bottom: 0;
    font-size: 1.2em;
    height: 1.8em;
    padding: 0.25em 0.5em;
    padding-right: 1.9em;
    border-radius: 1em;
  }

  .icon {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    height: 1.2em;
  }
}

.header-account {
  text-align: right;
  height: 100px;
  position: relative;

  > div {
    position: absolute;
    bottom: 0;
    right: 0.9375em;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.row.poster {
  min-height: 205px;
}

.movie-details, .collection-details, .profile-details {
  h2 {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
  }

  p {
    margin-right: 180px;
  }

  .inline-list {
    display: inline-block;
  }

  img.main-poster {
    margin-right: 0.8em;
    margin-bottom: 1.2em;
    float: right;
  }

  img.profile {
    width: 150px;
    margin-right: 0.8em;
    float: left;
    margin-left: 0.2em;
  }

  .main-details-block {
    position: relative;
    @include clearfix;
  }

  .cast-list, .movie-list {
    margin: 0;

    li h3, li h4 {
      margin: 0;
    }
  }
}

.profile-details {
  img.profile {
    float: right;
  }
}

.small {
  font-size: 80%;
}

.ajax-loader-container {
  text-align: center;

  .ajax-loader {
    padding: 100px;
  }
}
